<h1>New User</h1>

<%= form_with url: users_path, method: :post do %>
  <div>
    Name:
    <%= text_field_tag :name %>
  </div>

  <div>
    Email:
    <%= text_field_tag :email %>
  </div>

  <div>
    Birthday:
    <%= date_field_tag :birthday %>
  </div>

  <%= submit_tag "Save" %>
<% end %>

<%= link_to "Back", users_path %>