<h1>New User</h1>

<%= form_with model: @user, url: users_path, method: :post do |f| %>
  <div>
    Name:
    <%= f.text_field :name %>
  </div>

  <div>
    Email:
    <%= f.text_field :email %>
  </div>

  <div>
    Birthday:
    <%= f.date_field :birthday %>
  </div>

  <%= f.submit "Save" %>
<% end %>

<%= link_to "Back", users_path %>